:global(:root) {
    --primary: linear-gradient(
    260deg,
    rgba(255, 190, 11, 0.84) -29.7%,
    rgba(244, 43, 3, 0.84) 128.34%
  );
}


.primaryBackground{
    background: linear-gradient(
        260deg,
        rgba(255, 190, 11, 0.84) -29.7%,
        rgba(244, 43, 3, 0.84) 128.34%
    ); 
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


.emailTitle {
    background: linear-gradient(
        260deg,
        rgba(255, 190, 11, 0.84) -29.7%,
        rgba(244, 43, 3, 0.84) 128.34%
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.3rem;
    margin:1rem 0;
}


.verifyTitle{
    background: linear-gradient(
        260deg,
        rgba(255, 190, 11, 0.84) -29.7%,
        rgba(244, 43, 3, 0.84) 128.34%
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


.fullScreen{
   max-height: 100vh;
   margin-top: 10%;
   width: 100vw;
   background:#1c1c1c;
   padding-top: 3%;
   z-index: 100;
}

.primaryBox{
    max-width: 30rem;
    min-height: 15rem;
    margin:0 auto;
    // z-index: 100;
    // margin-top: 10%;
    background-color: #2f2f2f90;
    border: 1px solid #ffffff61;
    padding: 15px;
    border-radius: 10px;
    z-index: 100;
}

.primaryBox:hover{
    border: 1px solid #ffffff70;
    box-shadow: 2px 3px #94949470;
  }

.continerCenter{
    background-color: #2f2f2f90;
    border: 1px solid #ffffff61;
    border-radius: 10px;
    padding: 15px;
    justify-content: center;
    // align-items: center;
    width: 30rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    z-index: 10;
}

.continerCenter h3{
    float: left;
    margin:1rem 0;
    color: #ff6b00;
    font-size: 1.3rem;
}

.boxTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.form{
    width: 90%;
}

.button{
    margin-left: 3%;
    z-index: 1000;
}


.circle {
    height: 25rem;
    width: 25rem;
    background-color: rgba(255, 92, 0, 0.19);
    filter: blur(100px);
    position: absolute;
    top: 20%;
    left: -12%;
    border-radius: 50%;
    overflow: hidden;
    z-index: 0;
  }
  .circleMid {
    height: 25rem;
    width: 25rem;
    background-color: rgba(255, 92, 0, 0.19);
    filter: blur(100px);
    position: absolute;
    top: 10%;
    left: 40%;
    border-radius: 50%;
    overflow: hidden;
    z-index: 0;
  }
  
  .circle1 {
    height: 25rem;
    width: 25rem;
    background-color: rgba(255, 92, 0, 0.19);
    position: absolute;
  z-index: -1;
    top: 5%;
    right: -5%;
    border-radius: 50%;
    filter: blur(100px);
  }

@media (min-width: 1024px) {
    .boxTitle{
        justify-content: flex-start;
    }
}

@media(max-width:600px){
    .primaryBox{
        max-width: 90%;
        min-height: 15rem;
        margin:0 auto;
        background-color: #2f2f2f90;
        border: 1px solid #ffffff61;
        padding: 15px;
        border-radius: 10px;
    }

    .circle {
        height: 10rem;
        width: 10rem;
        background-color: rgba(255, 92, 0, 0.19);
        filter: blur(100px);
        position: absolute;
        top: 20%;
        left: 0%;
        border-radius: 50%;
        overflow: hidden;
        z-index: 0;
      }
}
@media(max-width:700px){
    .primaryBox{
        // max-width: 90%;
        // min-height: 15rem;
        margin:0 auto;
        margin-top: 50%;
        // background-color: #2f2f2f90;
        // border: 1px solid #ffffff61;
        padding: 15px;
        border-radius: 10px;
    }
}
@media(max-width:600px){
    .circle1 {
        height: 15rem;
        width: 15rem;
        background-color: rgba(255, 92, 0, 0.19);
        position: absolute;
      z-index: 0;
        top: 5%;
        right: -5%;
        border-radius: 50%;
        filter: blur(100px);
      }
}