:global(*) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  height: 100%;
  width: 100%;
  background-color: #1c1c1c;
  position: relative;
  overflow: hidden;
}

.blurred {
  filter: blur(4px);
  transition: filter 0.3s ease;
}

.eventwhole {
  height: 100%;
  width: 100%;
}

.eventcard {
  width: 100%;
  border-radius: 20px;
  margin-left: 5.5rem;
  margin-top: 3.7rem;
}

.line {
  width: 2px;
  background-color: white;
  margin-left: 6rem;
  margin-top: 6rem;
}

.ring1, .ring2 {
  position: absolute;
  background-color: #1c1c1c;
}

.ring1 {
  left: -6.5rem;
  top: 1.4rem;
}

.name {
  // width: 100%;
  display: flex;
  gap:1rem;
  align-items: center;
  position: relative;
  margin-top:-2rem;
  margin-left: 8rem;
  margin-bottom:8rem;
}

.name .w1 {
  font-size: 2.1rem;
  background: var(
    --Primary,
    linear-gradient(
      260deg,
      rgba(255, 190, 11, 0.84) -29.7%,
      rgba(244, 43, 3, 0.84) 128.34%
    )
  );
  font-weight: 700;
  // margin-right: 1rem;
  color: transparent;
  background-clip: text;
  align-items: center;
}

.name .w2 {
  color: white;
  font-weight: 700;
  font-size: 2.1rem;
}

.ring2 {
  left: -6.4rem;
  top: 1rem;
}

.Name {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-left: 3rem;
}




.Name p {
  font-size: 3rem;
  background: var(--Primary, linear-gradient(260deg, rgba(255, 190, 11, 0.84) -29.7%, rgba(244, 43, 3, 0.84) 128.34%));
  font-weight: 700;
  margin-right: 1rem;
  color: transparent;
  background-clip: text;
}

.Name h3 {
  background-color: #1c1c1c;
  font-size: 3rem;
}

.SponserCard_image {
  height: 20vw;
  width: 35vw;
  padding: 2vw;
  margin: 5vw;
}

.cardsin {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4.3rem;
}

.card {
  height: 90%;
  width: 100%;
  margin: 1vw 1vw 1vw 3vw;
  background-color: #7a7676;
  border-radius: 20px;
  position: relative;
  z-index: 0;
}

.error{
  padding: 30px 70px;
  z-index: 1;
  text-align: center;
  margin-top: 7rem;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 7rem;
}

.pasteventCard {
  height: auto;
  width: 100%;
  border-radius: 20px;
  // padding-right: 7rem;
  position: relative;
  // margin-left: 5.5rem;
  margin-top: 2.5rem;
}

.Outcard {
  height: 95%;
  width: 90%;
  background-color: #1c1c1c;
  margin-top: 5.9rem;
  margin-inline: auto;
}

.cardone {
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  // margin-left: -4rem;
  column-gap: 2rem;
  margin-top: -5rem;
  row-gap: 2rem;

  margin-bottom: 4rem;
}

.cardtwo {
  height: 40%;
  margin: 1vw;
  margin-top: 3vw;
  display: flex;
  justify-content: space-around;
}

.ca {
  height: 100%;
  width: 40%;
  border-radius: 20px;
  background-color: #7a7676;
  position: relative;
}

.bottom {
  height: 10vw;
  width: 100%;
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seeall {
  background-color: #1c1c1c;
  font-size: 1.5rem;
  border: none;
  display: flex;
  align-items: center;
  background: var(--Primary, linear-gradient(260deg, rgba(255, 190, 11, 0.84) -29.7%, rgba(244, 43, 3, 0.84) 128.34%));
  color: transparent;
  background-clip: text;
  cursor: pointer;
}

.seeall:hover {
  text-decoration: underline;
}

.circle, .circleone, .circleleft, .circletwo {
  background-color: rgba(255, 92, 0, 0.19);
  filter: blur(120px);
  position: absolute;
}

.circle {
  height: 20vw;
  width: 20vw;
  top: 15%;
  right: -15%;
  z-index: 3;
}

.circleone {
  height: 20vw;
  width: 20vw;
  top: 70%;
  left: -15%;
}

.circleleft {
  height: 20rem;
  width: 20rem;
  top: 15%;
  left: -11%;
}

.circletwo {
  height: 20vw;
  width: 20vw;
  bottom: -10%;
  right: -15%;
}

.ArrowBackIcon {
  position: absolute;
  top: 1.3rem;
  left: 0;
  margin-left: 30px;
  color: #fff;
  cursor: pointer;
  z-index:5;

}

@media (max-width:400px) {
    .line, .ring1, .ring2 {
      display: none;
    }
  
    .eventcard, .pasteventcard {
      width: 70%;
      border-radius: 20px;
      margin-left: 0;
      margin-inline: auto;
    }
    .name{
      margin-left: 0;
    }
  
    .eventcard {
      margin-top: 1rem;
    }
  
    .pasteventcard {
      margin-top: 3rem;
      padding-right: 0rem;
      margin-left: 0rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .error{
      padding: 30px 70px;
      z-index: 1;
      text-align: center;
      margin-top: 10px;
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 10px;
    }
  
    .outcard {
      height: 95%;
      width: 100%;
      background-color: #1c1c1c;
      margin-top: 1.9rem;
    }
  
    .name p {
      font-size: 3rem;
      background: var(--Primary, linear-gradient(260deg, rgba(255, 190, 11, 0.84) -29.7%, rgba(244, 43, 3, 0.84) 128.34%));
      font-weight: 700;
      margin-right: 1rem;
      color: transparent;
      background-clip: text;
    }
  
    .cardone {
      margin-left: -1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: -5rem;
    }
  
    .cardsin {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2.3rem;
    }
  
    .pasteventCard .name { 
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    
  
}


@media (min-width:401px)and (max-width: 700px) {
  .line, .ring1, .ring2 {
    display: none;
  }

  .eventcard, .pasteventcard {
    width: 70%;
    border-radius: 20px;
    margin-left: 0;
    margin-inline: auto;
  }

  .eventcard {
    margin-top: 1rem;
  }

  .pasteventcard {
    margin-top: 3rem;
    padding-right: 0rem;
    margin-left: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .error{
    padding: 30px 70px;
    z-index: 1;
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
  }


  .outcard {
    height: 95%;
    width: 100%;
    background-color: #1c1c1c;
    margin-top: 1.9rem;
  }

  .name p {
    font-size: 3rem;
    background: var(--Primary, linear-gradient(260deg, rgba(255, 190, 11, 0.84) -29.7%, rgba(244, 43, 3, 0.84) 128.34%));
    font-weight: 700;
    margin-right: 1rem;
    color: transparent;
    background-clip: text;
  }

  .cardone {
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -5rem;
  }

  .cardsin {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.3rem;
  }

  .name {
    margin-left: 0;
    justify-content: center;
        align-items: center;
  }
}

@media (min-width: 600px){
 .cardone {
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  // margin-left: -4rem;
  margin-top: -5rem;
}
}
@media (min-width: 700px){
 .cardone {
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  // margin-left: -4rem;
  margin-top: -5rem;
}
}
@media (min-width: 800px){
 .cardone {
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  // margin-left: -4rem;
  margin-top: -5rem;
}
}
@media (min-width: 900px){
 .cardone {
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  // margin-left: -4rem;
  margin-top: -5rem;
}
}

