.sponser_container { 
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.sponser_all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem 3rem;
}

.sponser_div{
  border-radius: 2.77rem;
  border: 0.88px solid rgba(255, 255, 255, 0.40);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(6.7px);
  width: 65rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
}

.sponser_card {
  height: 7rem;
  width: 7rem;
  border-radius: 4.9rem;
  border: 2px solid white;
  background-color: white;
  overflow: hidden;
}

.SponserCard_image {
  height: 100%;
  width: 110%;
  margin-left: -2px;
  object-fit: cover;
}

.sponser_title {
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight: 700;
  /* font-family: Poppins; */
  line-height: 149.415%;
  letter-spacing: 0.035rem;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 10px;
  margin-right: 10px;
}

.sponser_title2 {
  background: var(--primary);
  background-clip: text;
  color: transparent;
}

.bottom_line {
  width: 14rem;
  margin-left: 25rem;
  height: 0.3125rem;
  background: var(--primary);
  color: transparent;
  border-radius: 5px;
}
.customCarouselCard {
  border: none;
  width: 65rem;
  height: 25rem;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Media Queries */

@media (max-width: 1024px) {

  .sponser_div{
    height: 20rem;
    width: 55rem;
  }
  .sponser_all{
    width: 50rem;
    margin-top: 5rem;
    gap: 2rem;
  }
  

  .sponser_card {
    height: 5rem;
    width: 5rem;
  }

  .sponser_title {
    font-size: 60.8px;
  }

  .bottom_line {
    margin-left: 10%;
  }
}

@media (max-width: 768px) {
  .sponser_div{
    height: 20rem;
    width: 45rem;
  }
  .sponser_all{
    width: 45rem;
    margin-top: 5rem;
  }

  .sponser_container
  {
    padding-top: 1rem;
    align-items: center;
  }
  // .sponser_all {
  //   width: 90%;
  //   padding: 3rem 0;
  //   gap: 1.5rem;
  //   // z-index: 1;
  // }

  .sponser_card {
    height: 5rem;
    width: 5rem;
    border-radius: 4.9rem;
    border: 2px solid white;
    background-color: white;
  }

  .sponser_title {
    font-size: 45px;
    // margin-top: -15rem;
  }

  .bottom_line {
    margin-left: 35%;
    width: 8rem;
  }
}

@media (max-width: 480px) {
  .sponser_div{
    height: 20rem;
    width: 22rem;
  }
  .sponser_all{
    width: 22rem;
    margin-left: -0.5rem;
  }
  .sponser_title {
    font-size: 30px;
    margin-top: -18rem;
    margin-right: 0;
   }


  .bottom_line{
    margin-right: 7rem;
  }

  .sponser_container{
    padding-top: 3rem;
    align-items: center;
  }

}

@media (max-width: 380px) {
  .sponser_container{
    width: 93%;
    margin-left: 0.8rem;
  }
}

@media (min-width: 481px) and (max-width: 730px) {
  .sponser_div {
    height: 24rem;
    width: 30rem;
  }

  .sponser_all {
    width: 30rem;
    margin-top: 3rem;
  }

  .sponser_card {
    height: 4.5rem;
    width: 4.5rem;
  }

  .sponser_title {
    font-size: 35px;
    margin-top: -15rem;
  }

  .bottom_line {
    width: 6rem;
    margin-left: 10rem;
  }

  .sponser_container {
    padding-top: 2rem;
  }
}



@media (min-width: 769px) and (max-width: 890px) {


  .sponser_div {
    height: 22rem;
    width: 48rem;
  }

  .sponser_all {
    width: 50rem;
    margin-top: 4rem;
  }

  .sponser_card {
    height: 5.5rem;
    width: 5.5rem;
  }

  .sponser_title {
    padding-top: 24%;
    font-size: 48px;
    margin-top: -12rem;
  }

  .bottom_line {
    width: 10rem;
    margin-left: 12rem;
  }

  .sponser_container {
    padding-top: 2.5rem;
  }
}
