.navbar {
  position: fixed;
  width: 100%;
  transition: top 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  top: 0;

  // background: linear-gradient(
  //   91deg,
  //   rgba(48, 48, 48, 0.3) -147.64%,
  //   rgba(217, 217, 217, 0) 143.9%
  // );
  // margin-top: 8px;

}

.logo_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  margin-left: 5px;
}

.logo {
  width: 3rem;
  height: 3rem;
  border-radius: 2.8rem;
  background: url("../../../assets/images/Logo/logo.svg") lightgray 50% / cover no-repeat;
}

.logo_text {
  width: 4.9rem;
  height: 2.3rem;
  margin-right: -0.5rem;
  margin-left: 2px;
  background: url("../../../assets/images/Logo/FED.svg") no-repeat;
}

.visible {
  top: 0;
}

.navbarContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 30px 0px 25px;
  border-radius: 50px;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-radius: 26px;
  transition: opacity 0.3s ease, visibility 0.8s ease;
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.navLinks.hidden {
  opacity: 0;
  visibility: hidden;
}

.navLinks li {
  margin: 5px 15px;
  font-size: large;
}

.navLinks a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.navLinks .activeLink {
  background: var(--primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.navLinks .activeLinkPixel_AI_Hack {
  background: linear-gradient( to left,
    #64b0dd,
    #e9487b,
    #FFD389,
    #B4DFFF
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.navLinks .Pixel_AI_HackHover:hover {
  background: linear-gradient( to right,
    #2a6588,
    #E2084C,
    #FFD389,
    #B4DFFF
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.navLinks .omegaaHover:hover {
  background: #38ccff;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.navLinks li a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.navLinks li a:hover {
  background: var(--primary);
  background-clip: text;
  color: transparent;
  transition: 0.2s ease-in;

  &::after {
    width: 100%;
    left: 0;
  }
}

// .link:hover {
//   background: var(--primary);
//   background-clip: text;
//   color: transparent;
//   transition: 0.2s ease-in;

//   &::after {
//     width: 100%;
//     left: 0;
//   }
// }



.navLinks li a::after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  background: #fff;
  transition: width 0.3s ease, left 0.3s ease;

 
}

.hidden {
  top: -100px;
}

.menuToggle {
  display: none;
  flex-direction: column;
  left: 0;
  margin-left: 30px;
  cursor: pointer;
  position: absolute;
}

.menuToggle .bar {
  height: 3px;
  width: 25px;
  background: #fff;
  margin: 3px 0;
  transition: all 0.3s;
}

.menuToggle .cross {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25px;
  height: 25px;
}

.menuToggle .cross .crossBar {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: all 0.3s;
}

.menuToggle .cross .crossBar:first-child {
  transform: rotate(45deg);
}

.menuToggle .cross .crossBar:last-child {
  transform: rotate(-45deg);
}

.navItems {
  border-radius: 1.65rem;
  border: 1.652px solid white;
  background: linear-gradient(
    91deg,
    rgba(217, 217, 217, 0.3) -147.64%,
    rgba(217, 217, 217, 0) 143.9%
  );
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  white-space: wrap;
  font-family: Poppins;
  justify-content: space-between;
  height: 3.5rem;
  list-style: none;
  padding: 5px;
  margin-top: -5px;
  margin-right: 0rem;
  position: relative;
  z-index: 1;
}

.authButton {
  font-family: Poppins, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.65rem;
  height: 3.3rem;
  font-size: 1.2rem;
  background: linear-gradient(
    260deg,
    rgba(255, 190, 11, 0.84) -29.7%,
    rgba(244, 43, 3, 0.84) 128.34%
  );
  // background: linear-gradient(to right,#F9AB00, #4B00C6 );
  font-weight: 600;
  padding: 5px 25px;
  padding-bottom: 1vh;
  border: none;
  color: #fff;
  cursor: pointer;
}

.authButton:hover {
  transition: 0.2s linear;
  // background: linear-gradient(to right, #4c208f,#F9AB00);
   background: linear-gradient(260deg, rgba(255, 190, 11, .9) -29.7%, rgba(244, 43, 3, .9) 128.34%);
}

.Pixel_AI_HackButton {
  font-family: 'Pixelify Sans', sans-serif;
  background: linear-gradient( to left,
    rgba(17, 44, 60, 0.8),
    rgba(226, 8, 76, 0.8),
    rgba(255, 211, 137, 0.8),
    rgba(180, 223, 255, 0.8)
  ) !important;

  &:hover {
    background: linear-gradient( to left,
      rgb(14, 46, 65),
      rgb(149, 6, 51),
      rgba(255, 211, 137, 1),
      rgba(180, 223, 255, 1)
    ) !important;
  }
}

// .activeLinkGsoc {
//   color:  linear-gradient(
//     260deg,
//     #F48424 ,
//     #2F0048
//   ) !important;
// }

// .gsocButton {
//  background-color: #fff;
// }

// .GsocButton {
//   transition: .2s linear;
//   background:linear-gradient(to left,#112C3C, #E2084C, #FFD389, #B4DFFF);
  
// }
// .GsocButton:hover {
//   transition: .2s linear;
//   background: linear-gradient(to left,#f47b24,#4c0c6f,#2F0048 150%);
  
// }

.profileImgdiv {
  height: 60px;
  width: 60px;
  margin: 10px 0 15px 45px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profileImgdiv img {
  height: 90%;
  width: 100%;
  border-radius: 50%;
}

.mobNav {
  display: none;
}

@media (max-width: 768px) {

  .navbar {
    margin-top: 0;
    border-radius: 0;
  }

  .navbarContent {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: flex;
    align-items: flex-start;
    padding-top: 25px;
    padding-right: 0px;
  }

  .mobNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 68%;
  }

  .logo_div {
    display: none;
  }

  .navItems {
    flex-direction: column;
    height: max-content;
    background: none;
    border: none;
    gap: 10px;
    padding-top:  2vh;
    padding-bottom: 2vh;
    margin-left: 1%;
  }

  .navLinks {
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: #202020;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: absolute;
    top: 90px;
    left: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease, visibility 0.8s ease;
    padding-bottom: 2vh;
  }

  .profileImgdiv {
    width: fit-content;
    padding-top: 20px;
    margin-left: -5px;
  }

  .profileImgdiv img {
    height: 70px;
  }

  .navLinks.active {
    opacity: 1;
    visibility: visible;
  }

  .menuToggle {
    display: flex;
  }

  // .authButton{
  //   margin-right: 1.4rem;
  // }
}
@media (max-width: 380px) {
  .logo_text {
    margin-left: -10px;
  }
}
@media (max-width: 320px) {
  .logo_text {
    margin-left: -25px;
  }
}